.stepperBody{
  cursor:pointer;
  box-sizing: border-box; 
  display: flex;
  justify-content: space-between;
  padding:30px;
  width: 100%;
}

.stepBody{
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
}

.stepperTitle{
  position:absolute;
  width: 200px;
  bottom: 0;
}
.stepCircle{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  color: white;
  justify-content: center;
  align-content: center;
  line-height: 50px;
  font-size:20px;
  opacity: 1;
  position: absolute;
  top:0;
}

.stepCircleAnimate{
  border-radius: 50%;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  color: white;
  justify-content: center;
  align-content: center;
  line-height: 50px;
  font-size:20px;
  opacity: 0;
  animation: opacity 1s ease forwards;
}
@keyframes opacity{
  100%{
    opacity: 1;
  }
}

.textDiv{
  position: relative;
  z-index: 9999;
}

.linkage{
  width: 100%;
  height: 5px;
  margin-left:6px;
  margin-top: 22px;
  margin-right:6px;
  border-radius: 5px;
  position: relative;
  /*clip-path: polygon(28% 46%, 70% 46%, 100% 30%, 100% 70%, 70% 58%, 26% 59%, 0% 70%, 0% 30%);*/

}

.linkageAnimated{
  position: absolute;
  width: 0;
  height: 100%;
  border-radius: 5px;
  /*clip-path: polygon(28% 46%, 70% 46%, 100% 30%, 100% 70%, 70% 58%, 26% 59%, 0% 70%, 0% 30%);*/
  animation: left-to-right 1s cubic-bezier(0, 0.89, 1, 1) forwards;
}

@keyframes left-to-right{
  100%{
    width: 100%;
  }
}