.stepperWrapper{
  position:relative;
  background-color:red;
  width:100%;
  height:100px;
}

.stepperBody{
  cursor:pointer;
  box-sizing: border-box; 
  display: flex;
  justify-content: space-between;
  padding-left:100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  position: absolute;
}

.stepperBodyAnimatedForward {
  cursor:pointer;
  box-sizing: border-box; 
  display: flex;
  justify-content: space-between;
  padding-left:100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  position: absolute;
  left: 33%;
  animation: transition-forward 1s ease forwards;
}
@keyframes transition-forward{
  100%{
    left: 0%
  }
}

.stepBody{
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.stepperTitle{
  position:absolute;
  width: 150px;
  bottom: 0;
  left: -75px;
  text-align: center;
}
.stepCircle{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  color: white;
  justify-content: center;
  align-content: center;
  line-height: 50px;
  font-size:20px;
  opacity: 1;
  position: absolute;
  top:0;
  z-index: 1;
}

.stepCircleAnimate{
  border-radius: 50%;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  color: white;
  justify-content: center;
  align-content: center;
  line-height: 50px;
  font-size:20px;
  opacity: 0;
  animation: opacity-1 1s ease forwards;
}
@keyframes opacity-1{
  100%{
    opacity: 1;
  }
}

.textDiv{
  position: relative;
  z-index: 9999;
}

.linkage{
  width: 100%;
  height: 5px;
  margin-left:6px;
  margin-top: 22px;
  margin-right:6px;
  border-radius: 5px;
  position: relative;
  z-index:0;

}

.linkageAnimatedRight{
  position: absolute;
  width: 0;
  height: 100%;
  border-radius: 5px;
  z-index: 1;
  animation: left-to-right 1s cubic-bezier(0, 0.89, 1, 1) forwards;
}

@keyframes left-to-right{
  100%{
    width: 100%;
  }
}

.linkageAnimatedLeft{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  z-index: 1;
  animation: right-to-left 1s cubic-bezier(0, 0.89, 1, 1) forwards;
}

@keyframes right-to-left{
  100%{
    width: 0;
  }
}